.movie-card {
    margin: 10px 0;
    box-shadow: 1px 1px 6px 1px rgb(0 0 255 / 20%);
    width: 20%;
    min-width: 250px;
    border-radius: 2px;
    padding: 10px;
}



.trash {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/img/trash.png');
    background-size: cover;
}

.trash:hover {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/img/trash-onclick.png');
    background-size: cover;
}